__pycache__/chords.cpython-312.pyc
algorithms/__pycache__/expansion.cpython-312.pyc
algorithms/__pycache__/map.cpython-312.pyc
algorithms/__pycache__/obstruction_inferral.cpython-312.pyc
algorithms/__pycache__/__init__.cpython-312.pyc
algorithms/__pycache__/simplify.cpython-312.pyc
